body {
  height: 100%;
  margin: 0;
  font-family: "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F3ED;
}

code {
  font-family: "Lexend", sans-serif;
}