html,
body {
  height: 100%;
  margin: 0;
  font-family: "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F3ED;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
}

code {
  font-family: "Lexend", sans-serif;
}