#root {
    height: 85%;
}

textarea:focus,
input:focus {
    outline: none;
}

textarea {
    box-sizing: border-box;
    resize: none;
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 4px;
    border: #463F3A 1px solid;
}

.contact {
    padding: 20px 40px 20px 40px;
}

.contact-title {
    font-size: 60px;
    text-shadow: 3px 3px 2px #E0AFA1;
    color: #463F3A;
    visibility: hidden;
    animation: 1s ease-in-out 0s 1 forwards slideUp;
}

.contact-regular-text {
    margin-top: 30px;
    font-size: 20px;
    color: #463F3A;
    margin-bottom: 30px;
    visibility: hidden;
    animation: 1s ease-in-out 0.1s 1 forwards slideUp;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 70%;
}


.contact-email {
    margin-bottom: 20px;
    visibility: hidden;
    animation: 1s ease-in-out 0.2s 1 forwards slideUp;
}

.contact-message {
    height: 250px;
    visibility: hidden;
    animation: 1s ease-in-out 0.3s 1 forwards slideUp;
}

.contact-submit-button {
    width: 20%;
    border-radius: 4px;
    border: none;
    color: #463F3A;
    background-color: #BCB8B1;
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    align-self: end;
    padding: 5px;
    transition: ease-in-out 0.3s;
    visibility: hidden;
    animation: 1s ease-in-out 0.4s 1 forwards slideUp;
}

.contact-submit-button:hover {
    background-color: #E0AFA1;
    color: #F4F3ED;
}

@keyframes slideUp {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1000px) {
    .contact-form {
        width: 100%;
    }

    .contact-title {
        font-size: 50px;
    }

    .contact-submit-button {
        width: 30vw;
    }
}